# {{ ansible_managed }}

maxretry = 3

[qnapups]
    driver = "usbhid-ups"
    port = "auto"
    vendorid = "051d"
    productid = "0002"
    # product = "Tripp Lite UPS"
    # vendor = "Tripp Lite"
    bus = "001"
